/* ---------General settings----------*/

html,
body,
header,
.carousel {
    height: 60vh;
}

html,
body,
.view {
    height: 100%;
}


/*------------Navbar-------------*/


/* Navbar styling, fonts, colors for the icons */

.blue-text,
.navbar_text {
    font-family: 'Lekton', sans-serif;
}

.blue-text {
    font-size: 40px;
    text-shadow: 4px 3px 0 rgb(126, 37, 161);
}


/*navbar icons settings */

.fa-file-signature {
    color: #eb7d34;
}

.fa-clipboard-check {
    color: #441529;
}


/*----------Carousell settings---------------*/


/* Image cards display */

.view overlay {
    max-height: 20px;
}

.view {
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1890,w_3363,x_0,y_193/f_auto,q_auto,w_1100/v1565628997/shape/mentalfloss/gettyimages-944631208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Half Page Carousel itself*/

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}


/* --------- Content from Card dimension settings----------- */


/*price on card-book list */

.card-img-top {
    height: 40vh;
}

.card-footer {
    font-size: larger;
}


/* Additional information images */

.img-fluid {
    height: 200px;
    width: 350px;
    margin-bottom: 5px;
}


/* buttons */

.btn {
    height: 50px;
    width: 300px;
}


/*-----------Mediaqueries-----------*/


/* Adjustment for mobile devices*/

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
    .card-img-top {
        height: 30vh;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}


/*------Footer----------*/


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #003366;
}


/*extend display so footer stay at the bootom*/

main {
    min-height: 125%;
}