/* ---------General settings----------*/

html,
body,
header,
.carousel {
    height: 60vh;
}

html,
body,
.view {
    height: 100%;
}


/*------------Navbar-------------*/


/* Navbar styling, fonts, colors for the icons */

.blue-text,
.navbar_text {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.blue-text {
    text-shadow: 1px 2px 0 rgb(126, 37, 161);
    font-size: 26px;
}

.fa-tint {
    color: #925f00;
}


/*navbar icons settings */

.fa-file-signature {
    color: #68eb34;
}

.fa-clipboard-check {
    color: #be0a58;
}


/*search filter icons settings */

.fa-clock {
    color: #eaee00;
}

.fa-keyboard {
    color: #2db47c;
}


/*aside contact form icons settings */

.fa-map-marker-alt {
    color: #ee4b00;
}

.fa-phone {
    color: #000cb9;
}

.fa-envelope {
    color: #069701;
}


/*----------Carousell settings---------------*/


/* Half Page Carousel itself*/

.carousel {
    height: 65%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}


/*filter menu icons*/

.undo {
    border: 1px #e6e6e6 ridge;
    border-radius: 5px;
    margin-left: 2px;
    padding: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #f2f2f2;
    background: firebrick;
}

.undo:hover {
    color: #02fae5;
    transition: all .2s ease-in-out;
    background: #4d9c21;
}

.input-group-text {
    border: 1px #f7e17f ridge;
    margin-right: 2px;
    padding: 9px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #e2350a;
}

.bg-transparent {
    background-color: #d1c4e9;
}


/* --------- Content from Card dimension settings----------- */

.brown-text {
    font-family: 'Redressed', cursive;
    font-size: 28px;
}

.mask flex-center waves-effect waves-light {
    min-height: 50px;
}


/*price on card-book list */

.card-img-top {
    height: 40vh;
}

.card-footer {
    font-size: larger;
    margin-top: 10px;
}

.detail-title {
    font-size: 40px;
}


/* Additional information images */

.img-fluid {
    height: 200px;
    width: 350px;
    margin-bottom: 5px;
}


/* buttons */

.btn {
    height: 50px;
    width: 300px;
}


/*-----------Mediaqueries-----------*/


/* Adjustment for mobile devices*/

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
    .card-img-top {
        height: 30vh;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
}


/*------Footer----------*/


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #003366;
}


/*extend display so footer stay at the bootom*/

main {
    min-height: 125%;
}