{% extends "base.html" %}
{% load static %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
      <!--Book image column-->
        <div class="col-md-6 mb-4">
          <img class="card-img-top h-100" src="{{ object.cover.url }}" alt="">   
        </div>
      <div class="col-md-6 mb-4">
        <div class="p-4">
        <!--Book data and categories-->
          <div class="mb-3">
            <h1 class="text-center bold">{{ object.title }}</h1>
          <hr>
          <!--Book author & other informative tags-->
            <h4><span class="badge badge-light ">{{ object.work_author }}</span></h4>
            <span class="badge badge-pill purple ">{{ object.publish_date }}</span>
            <span class="badge badge-pill {{ object.get_sticker_display }}-color ">{{ object.get_category_display }}</span>
            <span class="badge badge-pill indigo"  >{{ object.slug }}</span>
          <hr>  
          
          <!--Book description-->  
          <p class="lead font-weight "><u>Description</u></p>
          <p>{{ object.description }}</p>
        <hr>

          <!--Book price and discount prices-->
          <h1>Price <span class="badge badge-light">
            
            {% if object.discount_price %}
              <span class="badge badge-danger">
                <del >{{ object.price }} €</del>
              </span>
              <span class="badge badge-success">{{ object.discount_price }} €</span>
              {% else %}
              <span class="badge badge-success">{{ object.price }} €</span>
              {% endif %}
            </h1>
            <hr>  
            
          </div>
          <!--buttons add/remove-->  
            <a href="{{ object.get_add_book_to_cart_url }}" class="btn btn-primary btn-md my-1 p text-center">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_book_from_cart }}" class="btn btn-danger btn-md my-1 p text-center">Eliminate from cart
            <i class="fas fa-backspace ml-1"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <!--Additional information-->
      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>Here you can check some extra info that we wish it will bring you in one of our inked fulled dreams. Enjoy the book no matter what the people say, or how short it is, the ost important is your will to discover</p>
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-lg-4 mb-4 col-md-6 text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT6ycgIFx0AKQTUcBK98hHyyDNm3AApcNPSo4ANGettOoT0MSO" class="img-fluid" alt="">
          <ul class="list-group">  
            <label>   
          <li class="list-group-item">{% if object.bestseller %}             
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>bestseller</span></li>
              </label> 
          <label>
          <li class="list-group-item">{% if object.notbestseller %}             
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>notbestseller</span></li>
              </label>
          </ul>    
        </div>
        
      <div class="col-lg-4 mb-4 col-md-6 text-center">
          <img src="http://i2.wp.com/clipartportal.com/wp-content/uploads/2018/12/thick-and-thin-clipart.jpg" class="img-fluid" alt="">
          <ul class="list-group">  
            <label>   
          <li class="list-group-item">{% if object.longbook %}             
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>longbook</span></li>
              </label> 
          <label>
          <li class="list-group-item">{% if object.shortbook %}             
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>shortbook</span></li>
              </label>
          </ul>    
        </div>
        <div class="col-lg-4 mb-4 col-md-6 text-center">
          <img src="https://zvw-shop.de/media/image/c9/94/8d/Banner-02-Startseite-575x380-2x2-books58d92b27dbd21_800x800.jpg" class="img-fluid" alt="">
          <ul class="list-group">  
            <label>   
          <li class="list-group-item">{% if object.worldwide_appreciated %}             
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="bestseller" id="bestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>worldwide_appreciated</span></li>
              </label> 
          <label>
          <li class="list-group-item">{% if object.underground_appreciation %}             
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in" checked="checked" />
          {% else %}
              <input name="notbestseller" id="notbestseller" type="checkbox" class="filled-in"  />
          {% endif %}
              <span>underground_appreciation</span></li>
              </label>
          </ul>    
        </div>
      </div>
    </div>
  </main>
{% endblock content %}