{% extends "base.html" %}
{% load static %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
      <!--Book image column-->
        <div class="col-md-6 mb-4">
          <img class="card-img-top h-100" src="{{ object.cover.url }}" alt="">   
        </div>
      <div class="col-md-6 mb-4">
        <div class="p-4">
        <!--Book data and categories-->
          <div class="mb-3">
            <h4 class="lead font-weight-bold text-center">{{ object.title }}</h4>
            <hr>
            <a href="">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              
              <span class="badge badge-pill {{ object.get_sticker_display }}-color">{{ object.slug }}</span>
            </a>
            
          <!--Book price and discount prices-->
            <p class="lead">
              {% if object.discount_price %}
              <span class="mr-1">
                <del>{{ object.price }} €</del>
              </span>
              <span>{{ object.discount_price }} €</span>
              {% else %}
              <span>{{ object.price }} €</span>
              {% endif %}
            </p>
          <!--Book description-->  
          <p class="lead font-weight-bold">Description</p>
          <p>{{ object.description }}</p>
        <hr>
        <!--Book author-->
          <div class="col-md-6 mb-4 text-center">
            <span class="mb-3 ">{{ object.work_author }} </span>
            <span class="badge purple mr-1">{{ object.publish_date }}</span>
            
          </div>
          <!--buttons add/remove-->  
          <a href="{{ object.get_add_book_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_book_from_cart }}" class="btn btn-danger btn-md my-0 p">Eliminate from cart</a>
        </div>
      </div>
    </div>
    <hr>
    <!--Additional information-->
      <div class="row d-flex justify-content-center wow fadeIn">
        <div class="col-md-6 text-center">
          <h4 class="my-4 h4">Additional information</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">
        </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">
      </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </main>
{% endblock content %}