{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <main >
    <div class="container wow fadeIn">
      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}
              <!--address-->
              <div class="md-form mb-5">
                {{ form.street_address }}
                <label for="address" class="">Address</label>
              </div>
              <!--address-2-->
              <div class="md-form mb-5">
                {{ form.house_address }}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>
              <!--django country selector-->
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <!--Zip code-->
                <div class="col-lg-4 col-md-6 mb-4">
                <label for="zip">Zip</label>
                  {{ form.zip }}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
            <hr>
              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
          </div>
        </div>
        <!--Grid column total aside-->
        <div class="col-md-4 mb-4">
          {% include "total_order_page.html" %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}


