{% extends "base.html" %}
{% load crispy_forms_tags %}
  {% block content %}
{% include "navbar.html" %}
  <body>
    <main role="main" class="container">
      <section class="mb-4">
      <!--Section heading-->
        
        <!--Section description-->
        <h2>Contact form</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>
        <hr>    
        <!--main form-->
        <div class="row">
          <div class="col-md-8 mb-md-0 mb-5">
          {% crispy form form.helper %}
          </div>
        <!--aside information-->
          <div class="col-md-4 text-center">
              <div class="col-md-5 text-center">
                <ul class="list-unstyled mb-0">
                  <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                  </li>
                  <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                  </li>
                  <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>customerservice@ink_dream.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </section>      
    </main>
  </body>
{% endblock %}
 