{% extends "base.html" %}
  {% block content %}
    <title>Advanced search page</title>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
    <!-- Bootstrap core CSS -->
{% include "navbar.html" %}
  <main role="main" class="container">
    <h3>Advanced searching Form</h3>
    <!-- Search form -->
      <form method="GET" action="">
        <div class="form-row">
        <!-- search by title contain -->
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
        <!-- search by book price -->
          <div class="form-group col-12">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search" name="work_price_query" placeholder="Book exact price..."/>
                  <span class="input-group-append">
                      <div class="input-group-text bg-transparent">
                          <i class="fa fa-search"></i>
                      </div>
                  </span>
              </div>
          </div>        
        </div>
        <div class="form-row">
        <!-- search by Author or book exact match -->
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="author_or_title" placeholder="Author or book..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <!-- search by Count number -->
        <div class="form-row">
          <!-- search by publication date -->
          <div class="form-group col-md-4">
            <label for="publishDateMin">Publish date minimum      <i class="fas fa-clock"></i></label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-4">
            <label for="publishDateMax">Publish date maximum     <i class="fas fa-clock"></i></label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
          <!-- search by Category -->
          <div class="form-group col-md-4">
            <label for="category">Worlks category selector     <i class="far fa-keyboard"></i></label>
            <select id="category" class="form-control" name="category">
              <option selected> 
                <ul class="navbar-nav mr-auto">
                  {% for category in categories %}    
                    <li class="nav-item">
                      <option value="{{ category.0 }}">{{ category.1 }}</option>
                      <span class="sr-only">(current)</span>
                  {% endfor %}  
                    </li> 
                </ul> 
              </option>
              

              {% comment %} <form method="get"> {% endcomment %}
          
            </select>
            </div>
          </div>

          
          <hr>
          <!-- search by sales clasification -->
          <div class="container">
            <div class="row">
              <div class="col-sm">
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bestseller" name="bestseller">
                  <label class="form-check-label" for="bestseller">
                    Bestseller          
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="notbestseller" name="notbestseller">
                  <label class="form-check-label" for="notbestseller">
                    Not a Bestseller
                  </label>
                </div>
              </div>
            </div>
              <div class="col-sm">
            <!-- search by number of pages of the book -->
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="longbook" name="longbook">
                    <label class="form-check-label" for="longbook">
                      Lonk book
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="isshortbook" name="isshortbook">
                    <label class="form-check-label" for="isshortbook">
                      Shortbook
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm">
              <!-- search by appreciation -->
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="worldwide_appreciated" name="worldwide_appreciated">
                    <label class="form-check-label" for="worldwide_appreciated">
                      Worldwide known
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="underground_appreciation" name="underground_appreciation">
                    <label class="form-check-label" for="underground_appreciation">
                      Underground known
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Search book</button>
            <button type="submit" class="btn btn-danger">reset</button>
          </form>
        <hr />
      <div class="row wow fadeIn">
      <!-- search results -->
      {% for item in queryset %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay">
            <!--Image book-->
              <img class="card-img-top h-20 " src="{{ item.cover.url }}" alt=""> 
              <a href="{{ item.get_absolute_url }}">
              <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ item.get_category_display }}</h5>
                  {{ item.work_author }}
                </a>
                <h5>
                  <strong>
                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                    </a>
                  </strong>
                </h5>
             <h3>
              <div class="card-footer">
                <strong> 
                {% if item.discount_price %}
              <h6 class="badge badge-light">
              <span class="badge badge-danger">
                <del>{{ item.price }} €</del>
              </span>
              <span class="badge badge-success"><u>{{ item.discount_price }} €</u></span></h6>
                {% else %}
              <span class="badge badge-success">{{ item.price }} €</span>
                {% endif %}
                </strong>
              </div></h3>    
              </div>
              
          </div>
        </div>
      {% endfor %}  
    </div>
  </main>
{% endblock %}
